
<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode =='over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
    <mat-icon *ngIf="sidenav.opened">close</mat-icon>
  </button>
  
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">
    <img class="avatar mat-elevation-z8" src="https://img.freepik.com/premium-vector/user-interface-icon-cartoon-style-illustration_161751-2838.jpg?size=338&ext=jpg&ga=GA1.1.1826414947.1699747200&semt=ais" />
    <h4 class="name">{{EmpObj.name}}</h4>
    <p class="designation">Employee</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLinkActive="active" routerLink="/EmployeeDashboard" color="white">
      <!-- <mat-icon>home</mat-icon> -->
      <span>Home</span>
    </button>

    <button mat-button class="menu-button" routerLinkActive="active" routerLink="/EditEmployee" color="white">
      <!-- <span class="icon-container">
        <mat-icon>person</mat-icon>
      </span> -->
      
      <span class="menu-button-text">Edit Details</span>
    </button>

    <button mat-button class="menu-button" routerLinkActive="active" routerLink="/InvestmentPlan" color="white">
      <!-- <mat-icon>info</mat-icon> -->
      <span>Investments</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/" color="white">
      <!-- <mat-icon>help</mat-icon> -->
      <span>Logout</span>
    </button>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <!-- Plan Status -->
      <div class="container">
        <div class="card-container">
          <div class="card personal-details">
            <div class="card-header">
              <h3><b>Employee Detail</b></h3>
            </div>
            <div class="card-body">
              <div *ngIf="!editingMode; else editSection">
                <p>Name: {{ EmpObj.name }}</p>
                <p>Email: {{ EmpObj.email }}</p>
                <p>Age: {{ EmpObj.age }}</p>
                <p>Gender: {{ EmpObj.gender }}</p>
                <p>Department: {{ EmpObj.department }}</p>
                <p>Contact Details: {{ EmpObj.contactDetails }}</p>
                <p>Grade: {{ EmpObj.grade }}</p>
                <p>Salary: {{ EmpObj.salary }}</p>
      
                <button class="btn btn-primary" (click)="editDetails()">
                  Edit Details
                </button>
              </div>
      
              <ng-template #editSection class="sliding">

                <div>
                  <p>Name: <input type="text" [(ngModel)]="EmpObj.name" #NameField="ngModel" pattern="[A-Za-z ]*" required></p>
                  <div class="error text-danger " *ngIf="(NameField.touched || NameField.dirty) && NameField.invalid && NameField.errors?.['required']" style="margin-top: 5px;">
                    <small >Name is required</small>
                  </div>
                  <div class="error text-danger " *ngIf="(NameField.touched || NameField.dirty) && NameField.invalid && NameField.errors?.['pattern']">
                    <small>Provide a vaid name (only alphabets and Space are allowed)</small>
                  </div>


                  <p>Email: <input type="text" [(ngModel)]="EmpObj.email" #EmailField="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required></p>
                  <div class="error text-danger " *ngIf="(EmailField.touched || EmailField.dirty) && EmailField.invalid && EmailField.errors?.['required']" style="margin-top: 5px;">
                    <small >Email is required</small>
                  </div>
                  <div class="error text-danger " *ngIf="(EmailField.touched || EmailField.dirty) && EmailField.invalid && EmailField.errors?.['pattern']">
                    <small>Provide correct email</small>
                  </div>
                  
                  
                  <p>Age: <input type="text" [(ngModel)]="EmpObj.age" #AgeField="ngModel" pattern="[1-9][0-9]*" required></p>
                  <div class="error text-danger " *ngIf="(AgeField.touched || AgeField.dirty) && AgeField.invalid && AgeField.errors?.['required']" style="margin-top: 5px;">
                    <small >Age is required</small>
                  </div>
                  <div class="error text-danger " *ngIf="(AgeField.touched || AgeField.dirty) && AgeField.invalid && AgeField.errors?.['pattern']">
                    <small>Provide a valid age</small>
                  </div>

                  <p>Gender: <input type="text" [(ngModel)]="EmpObj.gender" #GenderField="ngModel" pattern="[A-Za-z ]*" required></p>
                  <div class="error text-danger " *ngIf="(GenderField.touched || GenderField.dirty) && GenderField.invalid && GenderField.errors?.['required']" style="margin-top: 5px;">
                    <small >Gender is required</small>
                  </div>
                  <div class="error text-danger " *ngIf="(GenderField.touched || GenderField.dirty) && GenderField.invalid && GenderField.errors?.['pattern']">
                    <small>Provide a valid Gender</small>
                  </div>

                  <p>Department: <input type="text" [(ngModel)]="EmpObj.department" #DepartmentField="ngModel" pattern="[A-Za-z ]*" required></p>
                  <div class="error text-danger " *ngIf="(DepartmentField.touched || DepartmentField.dirty) && DepartmentField.invalid && DepartmentField.errors?.['required']" style="margin-top: 5px;">
                    <small >Department is required</small>
                  </div>
                  <div class="error text-danger " *ngIf="(DepartmentField.touched || DepartmentField.dirty) && DepartmentField.invalid && DepartmentField.errors?.['pattern']">
                    <small>Provide a valid Department</small>
                  </div>


                  <p>Contact Details: <input type="text" [(ngModel)]="EmpObj.contactDetails" #ContactField="ngModel" pattern="[0-9]{10}" required></p>
                  <div class="error text-danger " *ngIf="(ContactField.touched || ContactField.dirty) && ContactField.invalid && ContactField.errors?.['required']" style="margin-top: 5px;">
                    <small >Contact number is required</small>
                  </div>
                  <div class="error text-danger " *ngIf="(ContactField.touched || ContactField.dirty) && ContactField.invalid && ContactField.errors?.['pattern']">
                    <small>Provide a valid contact number</small>
                  </div>
                  


                  <p>Grade: <input type="text" [(ngModel)]="EmpObj.grade" #GradeField="ngModel" pattern="[A-Za-z ]*" required></p>
                  <div class="error text-danger " *ngIf="(GradeField.touched || GradeField.dirty) && GradeField.invalid && GradeField.errors?.['required']" style="margin-top: 5px;">
                    <small >Grade is required</small>
                  </div>
                  <div class="error text-danger " *ngIf="(GradeField.touched || GradeField.dirty) && GradeField.invalid && GradeField.errors?.['pattern']">
                    <small>Provide a valid Grade</small>
                  </div>

                  <p>Salary: <input type="text" [(ngModel)]="EmpObj.salary" #SalaryField="ngModel" pattern="[0-9]+(\.[0-9]+)?"></p>
                  <div class="error text-danger " *ngIf="(SalaryField.touched || SalaryField.dirty) && SalaryField.invalid && SalaryField.errors?.['required']" style="margin-top: 5px;">
                    <small >Salary is required</small>
                  </div>
                  <div class="error text-danger " *ngIf="(SalaryField.touched || SalaryField.dirty) && SalaryField.invalid && SalaryField.errors?.['pattern']">
                    <small>Provide a valid number</small>
                  </div>

                  <button class="btn btn-success" (click)="updateEmployeeDetails()">
                    Save
                  </button>
                </div>

              </ng-template>
              <br>
              <div *ngIf="showNotification" class="notification fade-in-out">
                Details edited successfully
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
