<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode == 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
    <mat-icon *ngIf="sidenav.opened">close</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">
    <img
      class="avatar mat-elevation-z8"
      src="https://img.freepik.com/premium-vector/user-interface-icon-cartoon-style-illustration_161751-2838.jpg?size=338&ext=jpg&ga=GA1.1.1826414947.1699747200&semt=ais"
    />
    <h4 class="name">{{ EmpObj.name }}</h4>
    <p class="designation">Employee</p>

    <mat-divider></mat-divider>

    <button
      mat-button
      class="menu-button"
      routerLinkActive="active"
      routerLink="/EmployeeDashboard"
      color="white"
    >
      <!-- <mat-icon>home</mat-icon> -->
      <span>Home</span>
    </button>

    <button
      mat-button
      class="menu-button"
      routerLinkActive="active"
      routerLink="/EditEmployee"
      color="white"
    >
      <!-- <span class="icon-container">
        <mat-icon>person</mat-icon>
      </span> -->

      <span class="menu-button-text">Edit Details</span>
    </button>

    <button
      mat-button
      class="menu-button"
      routerLinkActive="active"
      routerLink="/InvestmentPlan"
      color="white"
    >
      <!-- <mat-icon>info</mat-icon> -->
      <span>Investment</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/" color="white">
      <!-- <mat-icon>help</mat-icon> -->
      <span>Logout</span>
    </button>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <!-- Plan Status -->
      <div class="plan-status">
        <h4>
          <b>Welcome {{ EmpObj.name }}!</b>
        </h4>
        <small>Employee at MarshMcLennan</small>
        <br /><br />
        <h4><b>Investment Plan Status</b></h4>
        <ul class="tabs">
          <li [class.active-tab]="activeTab ==='current-plans'" (click)="toggleTab('current-plans')">
            Current Applications
          </li>
          <li [class.active-tab]="activeTab ==='plan-history'" (click)="toggleTab('plan-history')">
            Application History
          </li>
        </ul>

        <div class="current-plans" [hidden]="activeTab !== 'current-plans'">

          <div *ngFor="let investment of particularEmployeeData">
            <div *ngIf="investment.statusID == 2">
              <div class="plan">
                <h4><b>{{investment.planName}}</b></h4>
                <p>Plan Duration: <b>{{investment.duration}} years</b></p>
                <p>Status: <span class="badge bg-warning text-dark">Pending</span></p>
                
  
              </div>

            </div>

          </div>
          
        </div>

        <div class="plan-history" [hidden]="activeTab !=='plan-history'">

          <div *ngFor="let investment of particularEmployeeData">
            <div *ngIf="investment.statusID == 1">
              <div class="plan">
                <h4><b>{{investment.planName}}</b></h4>
                <p>Plan Duration: <b>{{investment.duration}} years</b></p>
                <p>Status: <span class="badge bg-success text-light">Approved</span></p>
                <p>Start Date: {{formatDate(investment.startDate)}}</p>
                <p>Maturity Date: {{formatDate(investment.endDate)}}</p>
                
  
              </div>

            </div>

            <div *ngIf="investment.statusID == 3">
              <div class="plan">
                <h4><b>{{investment.planName}}</b></h4>
                <p>Plan Duration: <b>{{investment.duration}} years</b></p>
                <p>Status: <span class="badge bg-danger text-light">Denied</span></p>
                <p>Start Date: {{formatDate(investment.startDate)}}</p>
                
  
              </div>

            </div>



          </div>





          <!-- <div class="plan">
            <h4><b>Company Contribution Plan</b></h4>
            <p>Status: <span class="status-pending">Pending</span></p>
          
            <p>Application Date: 01/01/2022</p>
            <p><button class="details-button">View Details</button></p>
          </div> -->
          
        </div>

        
      </div>

      <script>
        function toggleTab(tabName) {
          // Hide all tab content
          var tabContent = document
            .getElementsByClassName("plan-status")[0]
            .getElementsByClassName("plan");
          for (var i = 0; i < tabContent.length; i++) {
            tabContent[i].style.display = "none";
          }

          // Remove active class from all tabs
          var tabs = document
            .getElementsByClassName("tabs")[0]
            .getElementsByTagName("li");
          for (var i = 0; i < tabs.length; i++) {
            tabs[i].classList.remove("active-tab");
          }

          // Show the selected tab content
          document.getElementsByClassName(tabName)[0].style.display = "block";

          // Add active class to the selected tab
          document.querySelector("." + tabName).classList.add("active-tab");
        }
      </script>
      
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
