<!-- <app-employee-dashboard></app-employee-dashboard> -->
<!-- <app-user-login></app-user-login> -->
<!-- <header>
 <nav class="navbar navbar-expand-lg navbar bg-dark border-bottom border-body"data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLinkActive="active" routerLink="/MyWebSite" [routerLinkActiveOptions]="{ exact: true }">Employee Investment Portal</a>
    <button 
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
        <li ngbDropdown class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" ngbDropdownToggle>Bindings</a>
          <ul ngbDropdownMenu class="dropdown-menu">
            <li>
              <a ngbDropdownItem class="dropdown-item" routerLinkActive="active" routerLink="/OneWayBinding">OneWayBinding</a>
            </li>
            <li>
              <a ngbDropdownItem class="dropdown-item" routerLinkActive="active" routerLink="/TwoWayBinding">TwoWayBinding</a>
            </li>
        </ul> 
      </li>
    </div> 

  </div>

 </nav> 
</header> -->

<!-- <head>
  <style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  </style>
  </head>
  <body>
  
  <ul>
    <li><a class="active" href="#home">Home</a></li>
    <li><a href="#news">News</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="#about">About</a></li>
  </ul>
  
  </body> -->



  <!-- <app-hr-dashboard></app-hr-dashboard> -->
  <!-- <app-admin-dashboard></app-admin-dashboard> -->
<router-outlet></router-outlet>